* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.card {
    margin: 4rem auto;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.card img, .card .caption {
    transition-duration: 300ms;
}


.caption {
    background-color: rgba(51, 51, 51, 0.7);
    opacity: 0;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


.card:hover img {
    transform: scale(1.2) rotate(35deg);
}

.card:hover .caption {
    opacity: 1;
}


