nav,
footer {
  padding: 5px;
  background-color: aquamarine;
  text-align: center;
}

nav {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

form {
  border: 1px solid;
  padding: 5px;
  margin-bottom: 10px;
}
