* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.main-header {
  border: 1px solid blueviolet;
  display: flex;
}

.main-nav {
  border: 1px solid palevioletred;
  display: flex;
  align-items: center;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
}

.container {
  border: 1px solid orange;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.filters {
  border: 1px solid green;
}
.product-section {
  border: 1px solid lawngreen;
  padding: 1.5rem;
}

.products {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fit, 100px); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.card {
  border: 1px solid turquoise;
}
