* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

.item-1 {
    background-color: tomato;
    grid-row-start: 3;
    grid-column-start: 3;
}

.item-2 {
    background-color: teal;
    grid-column-start: 3;
    /* grid-row-start: 1; */
}

.item-3 {
    background-color: palevioletred;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}