$main-color: tomato;
/* 
$main-color by default is equal to "limegreen",
but if the variable $main-color already existed before with 
a different value, then that value will be used
*/
$main-color: limegreen !default;

body {
    background-color: $main-color;
}