* {
  box-sizing: border-box;
}

/* 
      fr: fractional unit
      */
.container {
  border: 3px solid teal;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: 1fr minmax(300px, 1fr) 1fr;
}

.item {
  background-color: tomato;
  border: 3px solid goldenrod;
  font-size: 1.5em;
  padding: 1.5rem;
}
