body {
    font-size: 2em;
}
table {
    /* border: 1px solid gray; */
    /* border-spacing: 16px; */
    /* border-collapse: separate; */
    border-collapse: collapse;
    margin-bottom: 3rem;
}

th, td {
    border: 1px solid gray;
    padding: 0.5rem;
}

th {
    background-color: lightcyan;
}
tr:nth-child(even) {
    background-color: lightgray;
}

td:nth-child(odd) {
    background-color: plum;
}

.desktop {
}

.firefox {
    background-color: red;
    height: 300px;
}

.browsers th {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

caption {
    background-color: yellow;
    caption-side: bottom;
}